<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>Dashboard</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel *ngIf="authService.hasPermission('MANAGE_USERS')">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <mat-icon>people</mat-icon>
            <span>Manage Users</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="icons" matListIcon>person</mat-icon>
          <a matLine routerLink="/admin/users" routerLinkActive="active" class="no-underline">Users</a>
        </mat-list-item>
        <mat-list-item *ngIf="authService.hasPermission('ADD_USERS')">
          <mat-icon class="icons" matListIcon>person_add</mat-icon>
          <a matLine routerLink="/admin/add-user" routerLinkActive="active" class="no-underline">Add User</a>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="authService.hasPermission('MANAGE_DEMANDE')">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <mat-icon>api</mat-icon>
            <span (click)="markAsRead()">Manage APIs</span>
            <span *ngIf="notificationCount > 0" class="notification-dot">{{ notificationCount }}</span>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="icons" matListIcon>hourglass_empty</mat-icon>
          <a matLine routerLink="/admin/demandes" routerLinkActive="active" class="no-underline" (click)="markAsRead()">Demandes</a>
          <span *ngIf="notificationCount > 0" class="notification-dot">{{ notificationCount }}</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="icons" matListIcon>verified</mat-icon>
          <a matLine routerLink="/admin/approuves" routerLinkActive="active" class="no-underline">Autorisés</a>
        </mat-list-item>
        <mat-list-item *ngIf="authService.hasRole('SUPERADMIN')">
          <mat-icon class="icons" matListIcon>edit</mat-icon>
          <a matLine routerLink="/admin/api-list" routerLinkActive="active" class="no-underline">Edit APIs</a>
        </mat-list-item>
        <mat-list-item *ngIf="authService.hasRole('SUPERADMIN')">
          <mat-icon class="icons" matListIcon>add_circle</mat-icon>
          <a matLine routerLink="/admin/add-api" routerLinkActive="active" class="no-underline">Add New API</a>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="authService.hasPermission('MANAGE_SUBS')">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>settings</mat-icon>
          <a matLine routerLink="/settings" routerLinkActive="active" class="no-underline">Settings</a>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-nav-list>

    <div class="logout-container">
      <mat-divider></mat-divider>
      <mat-list-item (click)="logout()" class="logout-button">
        <mat-icon class="icons" matListIcon>exit_to_app</mat-icon>
        <span matLine>Logout</span>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content">
      <router-outlet></router-outlet> <!-- This will load the child routes -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
