.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar.mat-primary {
  background: #3f51b5; /* Indigo primary color */
  color: white;
  padding-top: 64px;
}

.content {
  padding: 16px;
}

.mat-nav-list .mat-expansion-panel {
  background: white;
  margin-bottom: 8px;
}

.mat-list-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer; /* Ensure all list items show pointer cursor on hover */
}

.mat-icon {
  margin-right: 8px;
}

.no-underline {
  text-decoration: none;
  color: inherit; /* Optional: To ensure the link color is inherited */
}

.logout-container {
  margin-top: auto;
}

/* Ensure logout button styles match other list items */
.logout-button {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Hover effect for logout button */
}

.sidenav .mat-toolbar {
  position: sticky;
  top: 0;
  width: 250px; /* Match the width of the sidenav */
  z-index: 1000; /* Ensure it stays on top */
}

/* Hover effect for all list items */
.mat-list-item:hover, .logout-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.icons {
  position: relative;
  top: 4px;
}
.mat-list-item.logout-button {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer; /* This ensures the cursor changes to a hand */
  transition: background-color 0.3s;
}
