<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>Dashboard</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>people</mat-icon>
            Manage Users
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <mat-icon matListIcon>person</mat-icon>
          <a matLine routerLink="/admin/users">Users</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>admin_panel_settings</mat-icon>
          <a matLine routerLink="/admin/admins">Admins</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>person_add</mat-icon>
          <a matLine routerLink="/admin/add-user">Add User</a>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>api</mat-icon>
            Manage APIs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <mat-icon matListIcon>hourglass_empty</mat-icon>
          <a matLine routerLink="/admin/demandes">Demandes</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>verified</mat-icon>
          <a matLine routerLink="/admin/approuves">Autorisés</a>
        </mat-list-item>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            Settings
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item>
          <mat-icon matListIcon>settings</mat-icon>
          <a matLine routerLink="/settings">Settings</a>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-nav-list>

    <div style="margin-top: auto;">
      <mat-divider></mat-divider>
      <mat-list-item (click)="logout()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <span matLine>Logout</span>
      </mat-list-item>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
