.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3c3b;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

button[mat-button] {
  color: white;
  font-weight: bold;
}

button[mat-menu-item] {
  color: black;
}
