<mat-toolbar color="primary">
  <span style="flex: 1 1 auto;">
    <button mat-button routerLink="/home">Accueil</button>
    <button mat-button routerLink="/apis" *ngIf="authService.hasPermission('BROWSE_APIS')">Liste des APIs</button>
    <button mat-button routerLink="/support">Support</button>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profile" *ngIf="authService.hasPermission('MANAGE_PROFILE')">Profile</button>
    <button mat-menu-item routerLink="/demandes" *ngIf="authService.hasPermission('MAKE_DEMANDES')">Mes Demandes</button>
    <button mat-menu-item routerLink="/subscriptions" *ngIf="authService.hasPermission('CHECK_SUBSCRIPTIONS')">My Subscriptions</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
