<!-- user-demandes.component.html -->
<div class="user-demandes-container">
  <h1>Mes Demandes</h1>
  <div class="table-wrapper">
    <table mat-table [dataSource]="demandes" class="mat-elevation-z8">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef> Approved </th>
        <td mat-cell *matCellDef="let element"> 
          <span [ngClass]="{'approved': element.approved, 'not-approved': !element.approved}">
            {{element.approved ? 'Yes' : 'No'}}
          </span> 
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['description', 'startDate', 'endDate', 'approved']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['description', 'startDate', 'endDate', 'approved'];"></tr>
    </table>
  </div>
</div>

