<div class="add-api-form">
  <h2>Add New API</h2>
  <form (ngSubmit)="addApi()">
    <mat-form-field>
      <mat-label>API Name</mat-label>
      <input matInput [(ngModel)]="api.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="api.description" name="description" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Version</mat-label>
      <input matInput [(ngModel)]="api.version" name="version" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Documentation Name</mat-label>
      <input matInput [(ngModel)]="api.documentationName" name="documentationName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Documentation URL</mat-label>
      <input matInput [(ngModel)]="api.documentationUrl" name="documentationUrl" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add API</button>
  </form>
</div>
