<div class="user-profile-container">
    <h1>User profile</h1>
    <mat-card class="user-profile-card">
      <mat-card-content>
        <h2>Account details</h2>
        <div class="account-details">
          <div>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>First name:</strong> {{ user.username }}</p>
          </div>
        </div>
        <div class="action-buttons">
          <button mat-raised-button color="primary">Change name</button>
          <button mat-raised-button color="accent">Change password</button>
          <button mat-raised-button color="warn">Close account</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  